<div >
  <div class="d-flex justify-content-center py-2 h3">Détail vente</div>
  <div class="d-flex flex-row align-items-start justify-content-center">
    <img class="img-fluid img-vignette " src="https://upload.wikimedia.org/wikipedia/commons/0/04/Croix_Mundolsheim.png"
         alt="croix">
    <div>
      <h3 id="nom_article" class="h4">PC Gamer pour travailler</h3>

      <div class="container ">
        <div class="row">
          <div class="col-2">
            <div class="my-2">Description :</div>
          </div>
          <div class="col-3 ">
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto consequuntur, eum harum minus
              omnis
              sapiente vero. At ex id, inventore ipsam itaque nisi omnis quidem saepe suscipit velit, voluptates.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 ">
            <div class="my-2 ">Catégorie :</div>
          </div>
          <div class="col-3">
            <div class="my-2">Informatique</div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="my-2">Meilleure offre :</div>
          </div>
          <div class="col-3">
            <div class="my-2">210 pts par Bob</div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="my-2">Mise à prix :</div>
          </div>
          <div class="col-3">
            <div class="my-2">185 pts</div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="my-2">Fin de l'enchère :</div>
          </div>
          <div class="col-3">
            <div class="my-2">09/10/2018</div>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <div class="my-2">Retrait :</div>
          </div>
          <div class="col-3">
            <div class="my-2">
              <div>10 allée des Alouettes</div>
              <div>44830 Saint Herblain</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 ">
            <div class="my-2">Vendeur :</div>
          </div>
          <div class="col-3 ">
            <div class="my-2">jojo44</div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="my-2">Ma proposition :</div>
          </div>
          <div class="col-3">
            <input  class="my-2" type="number" value="100" min="100">
          </div>
          <div class="col-3">
            <button class="btn btn-success btn-lg btn-block" >Enchérir</button>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
