<div class="container">
  <h2>Détail vente</h2>
      <div class="row" *ngFor="let a of article">
        <div class="col-3">
          <img class="img-fluid" [src]="img" (error)="setDefaultPic()"  [alt]="a.nomArticle">
        </div>
        <div class="col-9">
          <h1>{{a.nomArticle}}</h1>
          <hr>
          <div class="row">
            <div class="col-3">
              <p>Description</p>
            </div>
            <div class="col-9">
              <p>{{a.description}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>Catégorie</p>
            </div>
            <div class="col-9">
              <p>{{a.categorie.libelle}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>Meilleure offre</p>
            </div>
            <div class="col-9">
              <p *ngIf="a.encheres">{{a.encheres[0].montantEnchere}} pts, par {{a.encheres[0].noUtilisateur}} le {{formatDate(a.encheres[0].dateEnchere)}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>Mise à prix</p>
            </div>
            <div class="col-9">
              <p>{{a.miseAPrix}} points</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>Début de l'enchère</p>
            </div>
            <div class="col-9">
              <p>{{formatDate(a.dateDebutEncheres)}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>Fin de l'enchère</p>
            </div>
            <div class="col-9">
              <p>{{formatDate(a.dateFinEncheres)}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>Retrait</p>
            </div>
            <div class="col-9">
              <p>{{a.lieuRetrait.rue}}</p>
              <p>{{a.lieuRetrait.codePostal}} {{a.lieuRetrait.ville}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>Vendeur</p>
            </div>
            <div class="col-9">
              <p>{{a.pseudoVendeur}}</p>
            </div>
          </div>
          <div class="row shadow mb-5 rounded enchere" *ngIf="isLogged">
            <div class="col-3">
              <p>Ma proposition</p>
            </div>
            <div class="col-2">
              <input  type="number"class="form-control" id="montantEnchere" name="montantEnchere" [ngModel]="montantEnchere" [min]="a.encheres[0].montantEnchere+1">
            </div>
            <div class="col-3">
              <p>(crédits disponibles : {{getCredit()}})</p>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-success btn-block" routerLink="/login">Enchérir</button>
            </div>
          </div>
          <div class="row shadow mb-5 rounded enchere" *ngIf="!isLogged">
            <h5 class="text-center">Proposer une enchère ?</h5>
            <hr>
            <div class="col-5 row">
              <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/login">Se connecter</button>
            </div>
            <div class="col-2"></div>
            <div class="col-5 row">
              <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/creerCompte">Créer un compte</button>
            </div>
          </div>
        </div>
      </div>
</div>
